body {
    margin: 0;
    color: #575d6c;
}

.content-box {
    min-width: 1280px;
    padding: 20px 40px;
    background: #eef0f5;
    margin-bottom: 64px;
}

.title {
    margin: 12px 0;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.scheme-info {
    background: #fff;
    padding: 10px;
    margin: 15px 0;
}
.small-tip {
    font-size: 16px;
    font-weight: bold;
    margin: 12px;
    color: #000;
}
.form-group {
    margin-bottom: 15px;
    width: 500px;
}

.form-label {
    line-height: 34px;
    padding-right: 0px !important;
    width: 32%;
}
.input-box {
    padding: 0px !important;
    width: 68%;
}
.footer {
    width: 100%;
    height: 64px;
    background: #fefefe;
    box-shadow: 0 -3px 8px 0 rgb(0 0 0 / 5%);
    bottom: 0;
    position: fixed;
    z-index: 99;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}
.submit-btn {
    position: absolute;
    right: 80px;
    top: 18px;
}
.footer-btn {
    border: 1px solid #526ecc;
    border-radius: 2px;
    color: #fff;
    background: #526ecc;
    font-size: 12px;
    width: 100px;
}
#finishTest {
    width: 100%;
    height: 34px;
    padding: 0 12px;
}
.processName {
    width: 200px;
    margin-right: 12px;
    margin-bottom: 8px;
}
.stack-box {
    border: 1px solid #cdcfd3;
    margin-bottom: 8px;
    margin-left: 68px;
    margin-right: 12px;
    width: 1200px;
    padding: 18px 0;
}

#addStack {
    display: block; 
    margin-left: 68px; 
    cursor: pointer;
}

.img-box {
    width: 100px;
    height: 100px;
    position: relative;
}
.img-show {
    width: 100px;
    height: 100px;
    z-index: 99;
}

.img-input {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    opacity: 0;
}